.header-area {
  position: absolute; /* changed to absolute so it sits on top of the banner initially, like legacy */
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 80px;
  background: #fefefe;
  transition: all .5s ease 0s;
}

.header-area.background-header {
  position: fixed;
  background-color: #fefefe;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

.header-area .main-nav {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-area .main-nav .logo {
  line-height: 80px;
  color: #040606;
  font-size: 28px;
  font-weight: 700;
  transition: all 0.3s ease 0s;
  font-family: 'Poppins', var(--font-heading);
}

.header-area.background-header .main-nav .logo {
  color: #040606;
}

.header-area .main-nav .logo em {
  font-style: normal;
  color: #85be7e;
  font-weight: 900;
}

.header-area .main-nav .nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: #040606;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
}

.header-area.background-header .main-nav .nav li a {
  color: #040606;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #85be7e !important;
}

.header-area .main-nav .nav li a.active {
  position: relative;
}

.header-area .main-nav .nav li a.active:after {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #85be7e;
  content: '';
  top: -20px;
  left: 0;
}

.header-area.background-header .main-nav .nav li a.active:after {
  top: -20px; 
}

/* Mobile Menu Trigger Hookup */
.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  transition: all 0.4s;
  background-color: #040606;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area.background-header .main-nav .menu-trigger span,
.header-area.background-header .main-nav .menu-trigger span:before,
.header-area.background-header .main-nav .menu-trigger span:after {
  background-color: #040606;
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span:before {
  top: -10px;
}

.header-area .main-nav .menu-trigger span:after {
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span {
  background-color: transparent !important;
}

.header-area .main-nav .menu-trigger.active span:before {
  transform: translateY(10px) rotate(45deg);
}

.header-area .main-nav .menu-trigger.active span:after {
  transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 991px) {
  .header-area .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .header-area .main-nav .menu-trigger {
    display: block !important;
  }
  
  .header-area .main-nav .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .header-area .main-nav .nav.active {
    display: flex;
  }

  .header-area .main-nav .nav li {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #eee;
  }

  .header-area .main-nav .nav li a {
    color: #232d39 !important;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  .header-area .main-nav .nav li a:hover,
  .header-area .main-nav .nav li a.active {
    background: #eee;
    color: #85be7e !important;
  }
  
  .header-area .main-nav .nav li a.active:after {
    display: none; /* remove top bar indicator on mobile drop down */
  }
}
